.jumbotron {
  padding-top: 6rem;
  background-color: #ffd900;
}
#projects {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
#gallery {
  background-color: #ffd900;
}
#skills {
  background-color: #ffd900;
}
